.text-showcase {
  color: #204163;
  font-family: 'Work Sans', sans-serif;
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 80px;
  z-index: 1;
}

.showcase-total {
  padding: 10px !important;
  border: 1px solid #204163;
  border-radius: 90px;
  line-height: 16px;
  margin-right: 20px;
}
